<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Translation App Example</title>
    <!-- Link to the main CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
    <!-- File needed, have some basic functions used in other .js files -->
    <script type="module" src="{{ url_for('static', filename='scripts/basic.js') }}"></script>
    <!-- Link to the JavaScript file for changing language of whole WebPage -->
    <script type="module" src="{{ url_for('static', filename='scripts/language_switcher.js') }}" defer></script>
    <!-- Link to the JavaScript file for translation En to Fi -->
    <script type="module" src="{{ url_for('static', filename='scripts/main.js') }}" defer></script>
    <!-- Link to the JaveScript file, used for animations, video appearing etc -->
    <script type="module" src="{{ url_for('static', filename='scripts/anim.js') }}" defer></script>


</head>
<body>
    <video autoplay muted loop id="backgroundVideo">
        <source src="{{ url_for('static', filename='videos/background.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <header>
        <h1 data-i18n="title">Translation App Example</h1>
        <nav>
            <label for="languageSelect" data-i18n="selectLanguage">Select Language of WebPage:</label> <!-- language of ALL basic content in webpage-->
            <select id="languageSelect">
                <option value="en" data-i18n="english">English</option>
                <option value="fi" data-i18n="finnish">Finnish</option>
            </select>
        </nav>
    </header>

    <main>
        <section>
            <label for="textInput" data-i18n="enterText">Enter text to translate:</label> <br>
            <textarea id="textInput" rows="4" placeholder="Enter text here..." data-i18n-placeholder="placeholderText"></textarea>
        </section>
        <button id="translateButton" data-i18n="translateButton" class="glow-on-hover">Translate</button>
        <p id="loadingMessage" class="loading" style="display: none;" data-i18n="loadingMessage">Translating, please wait...</p>
        <p id="notification" class="comments"></p>

        <section id="outputSection" style="display: none;">
            <h2 data-i18n="outputTitle">Translation:</h2>
            <p id="translatedText"></p>

        </section>
    </main>


    <footer>
        <p data-i18n="footerText">Made by Tereshchenko Yehor</p>
    </footer>
</body>
</html>
