Flask            # For creating the Flask web application
transformers   # For the translation pipeline using Hugging Face
torch        # Backend library required by transformers
torchvision    # Optional library for working with image data in PyTorch
torchaudio     # Optional library for audio data in PyTorch
tensorflow     # Alternative backend for transformers (if wanna switch to TensorFlow)
sentencepiece  # Tokenizer required by some Hugging Face models
tf-keras      # TensorFlow Keras, required for deep learning tasks
sacremoses     # Tokenization and text normalization
Jinja2       # Template rendering for Flask
MarkupSafe     # Security for rendering HTML
itsdangerous    # Utility library for Flask
Werkzeugb       # WSGI utility library for Flask