Flask==2.3.3            # For creating the Flask web application
transformers==4.34.0    # For the translation pipeline using Hugging Face
torch==2.0.1            # Backend library required by transformers
torchvision==0.15.2     # Optional library for working with image data in PyTorch
torchaudio==2.0.2       # Optional library for audio data in PyTorch
tensorflow==2.14.0      # Alternative backend for transformers (if wanna switch to TensorFlow)
sentencepiece==0.1.99   # Tokenizer required by some Hugging Face models
tf-keras==2.12.0        # TensorFlow Keras, required for deep learning tasks
sacremoses==0.0.53      # Tokenization and text normalization
Jinja2==3.1.2           # Template rendering for Flask
MarkupSafe==2.1.3       # Security for rendering HTML
itsdangerous==2.1.3     # Utility library for Flask
Werkzeug==2.3.3         # WSGI utility library for Flask
